.btn-custom{
    background-color: var(--color-btn) !important;
    color: var(--color-white) !important;
    width: 100% !important;
    border-radius: 3px !important;

}
.btn-custom:hover{
    background-color: var(--color-btn-hover) !important;
}